<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="test.a" value="1"/>
    <add key="test.b" value="2"/>
    <add key="test.c" value="3"/>
    <add key="test.d" value="4"/>

    <add key="test" value="a=a;b=b;c=c;d=d"/>


    <add key="MyClass.Name" value="blqw"/>
    <add key="Name" value="xxx"/>
    <add key="MyClass.ID" value="1"/>
    <add key="blqw.ConfigurationTests.ConfigsTests.MyClass.ID" value="398"/>
    <add key="MyClass" value="Age=30;Birthday=1986-10-29"/>
  

    <add key="MyConfig.Version" value="1.0"/>
    <add key="MyConfig.DEBUG" value="true"/>
    <add key="MyConfig.TaskThreadCount" value="50"/>
    <add key="TaskConfig.Thread.Count" value="60"/>
    <add key="TaskConfig" value="DEBUG=false;ver=1.2.3"/>
  
  </appSettings>
</configuration>